.valact{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.bck{
  --background: url(https://i.pinimg.com/736x/fa/eb/9a/faeb9afb53009634acb326c2e3859098.jpg) 0 0/100% 100% no-repeat;
}

h1{
  color: aliceblue;
}

.pont{
  display: flex;
  justify-content: center;
  align-items: center;
}
